---
import Container from "./Container.astro";
---

<footer class="border-t border-slate-200 bg-slate-50 dark:bg-slate-800 dark:border-slate-700">
  <Container>
    <div class="py-28 flex flex-col lg:flex-row items-center">
      <h3 class="text-4xl lg:text-[2.5rem] font-bold tracking-tighter leading-tight text-center lg:text-left mb-10 lg:mb-0 lg:pr-4 lg:w-1/2 text-slate-900 dark:text-slate-100">
        All rights reserved by Jun Kawasaki. @CC BY-NC-SA
      </h3>
    </div>
  </Container>
</footer>
