<section class="flex-col md:flex-row flex items-center md:justify-between mt-16 mb-16 md:mb-12">
  <h1 class="text-5xl md:text-8xl font-bold tracking-tighter leading-tight md:pr-8">
    Jun Kawasaki.
  </h1>
  <h4 class="text-center md:text-left text-lg mt-5 md:pl-8">
    Good Vibes For Children.
  </h4>
</section>
